#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.card {
    padding: 2em;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

input {
    padding: 10px;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    background-color: #646cff;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #535bf2;
}

.stats-result {
    text-align: left;
    border: 1px solid #eee;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 600px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #f4f4f4;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
}

.error {
    color: red;
}